{% extends "home.html" %}
{% load static %}
{% block title %} TestApp Page {% endblock title %} TestApp Page

{% block header %}
<h1 style="color:white;"> Test App Page</h1>
{% endblock header %}


    {% block navigation %}
    <ul>
    <li><p><a href= "{% url "test_app:variable" %} " style="color:white;">variable screen</a></p></li>
    <li><p><a href = "{% url "home" %}" style="color:white;">Home Page</a></p></li>
    </ul>
    {% endblock navigation %}
    
{% block main %}
<img src="{% static 'test_app/background_view.jpg' %}" alt = "my image"> 
<p style="color:white;">This is the playground for main logic of Test App</p>
{% endblock main %}

{% block footer %}
<p style="color:white;"> This is the end of Test App</p>
{% endblock footer %}

