{% extends 'test_app\example.html' %} <!--we understood to use this path 
for app level template based on error received on debug screen-->


{% block navigation %}
<ul>
    <li><p><a href = "{% url "test_app:index" %}">Test App Home Page</a></p></li>
    <li><p><a href = "{% url "home" %}">Home Page</a></p></li>
</ul>
{% endblock navigation %}

{% block main %}
    <h1 style="color:white;">Inside variable html</h1>
    <h2 style="color:white;">her first name was {{ first_name | lower | capfirst}} and her last name was {{ last_name  | lower | capfirst}}</h2>
    <h2 style="color:white;">Getting element using index = {{ some_list.0 }}</h2>
    <h2 style="color:white;">Getting key from inside dict = {{ some_dict.inside_key }}</h2>
    <h2>{# comment using django template language #}</h2>
    <!-- html way of commenting -->
    
    <ul style="color:white;">
    {% for item in some_list %}
       {% if item == 0 %}
        <li>{{item}} - its zero</li>
        {% elif item|divisibleby:2%}
        <li>{{item}} - its Even</li>
        {% else %}
        <li>{{item}} - its odd</li>
        
    {% endif %} 
    {%   endfor %}
    </ul>

    <ul style="color:white;">
        {% for k,v in some_dict.items %}
            <li>{{k }} : {{ v}}</li>
        {% endfor %}
    </ul>

{% endblock main %}
