<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>{% block title %} Main page {% endblock title%}</title>
</head>
{% load static %}
<body background="{% static 'test_app/background_view.jpg' %}">

<header>
    <h1 style="color:white;">Home Page</h1>
    {% block header %} {% endblock header %}
</header>

<nav>
    {% block navigation %}
    <ul>
    <!-- <li><p><a href = "/test_app" > Test App Screen</a></p></li> -->
    <li><p><a href = "{% url "test_app:index" %}" style="color:white;">Test App Home Page</a></p></li>
    </ul>
    {% endblock navigation %}
</nav>


<main>

<img src="{% static 'test_app/background_view.jpg' %}" alt = "my image"> 
{% block main %} {% endblock main %}
</main>

<footer> 
    {% block footer %} {% endblock %}
    <p style="color:white;">@Contact Us</p>
</footer>
</body>
</html>
